* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.slider {
    width:600px;
    overflow: hidden;
    position: relative;
}

.slider .container {
    white-space: nowrap;
    position: relative;
    transition: all .4s;
    left: 0px;
}

.slider .container * {
    white-space: normal;
}

.slider img {
    width: 100%;
    height: 300px;
    display: inline-block;
}